<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>

<h1>📖 Formación</h1>
<div class="timeline-container">
    <ul class="tl">
        <li>
        <div class="item-icon"></div>
        <div class="item-text">
            <div class="item-title">Start from Shire</div>
            <div class="item-detail">Don't forget the ring</div>
        </div>
        <div class="item-timestamp">
            3rd March 2015<br> 19:00
        </div>
        </li>
        <li class="tl-item">
        <div class="item-icon"></div>
        <div class="item-text">
            <div class="item-title">Kill some Orcs</div>
            <div class="item-detail">Don't enter the caves!!</div>
        </div>
        <div class="item-timestamp">
            15:00
        </div>
        </li>
        <li class="tl-item  dashed">
        <div class="item-icon"></div>
        <div class="item-text">
            <div class="item-title">Throw that goddamn ring in the lava fdsa fdsa fdsa</div>
            <div class="item-detail">Also, throw that Gollum too</div>
        </div>
        <div class="item-timestamp">
            1st June 2015<br> 19:00
        </div>
        </li>
        <li class="tl-item">
        <div class="item-icon"></div>
        <div class="item-text">
            <div class="item-title">Patient check</div>
            <div class="item-detail">A specialized doctor will have a look at your symptoms</div>
        </div>

        </li>

        </ul>

    </div>

</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
    h1{
        font-family:'Raleway', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
    .timeline-container{
    font-family: "Roboto",sans-serif;
    width:50%;
    margin:auto;
    display:block;
    position:relative;
}
.timeline-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.timeline-container ul.tl li {
    list-style: none;
    margin:auto;
    min-height:50px;
    border-left:1px solid #1a365d;
    padding:0 0 50px 30px;
    position:relative;
    display: flex; 
    flex-direction: row;
}
.timeline-container ul.tl li.dashed {
    border-left:1px dashed #1a365d;
} 
.timeline-container ul.tl li:last-child{ border-left:0;}
.timeline-container ul.tl li .item-icon {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #3765bb;
    height: 30px;
    width: 30px;
}
.timeline-container ul.tl li:hover::before{
    border-color:  #1876f2;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
ul.tl li .item-title {
    font-size:20px; 
}
ul.tl li .item-detail {
    color:rgba(0,0,0,0.5);
    font-size:20px;
}
ul.tl li .item-timestamp{
    color: #8D8D8D;
    font-size: 20px;
    text-align: right;
    padding-left: 20px;
}

</style>