---
import Badge from "./Badge.astro"
import Boton from "./Boton.astro"
---
<section id="sobremi">
    <div>
        <img class="perfil" src="https://avatars.githubusercontent.com/u/143562487?v=4.png" alt="">
        <h2><span class="saludo">Que tal? Soy Chris!</span> <Badge>Disponible para trabajar</Badge></h2> 
        <h3>Desarrollador Web de Concepción, Chile 🗿. <span id="color-1">Especializado</span> <span id="color-2">en Python </span>🐍. Con mentalidad proactiva y capacidad para adaptarme a diferentes tecnologías y entornos. Destacando la habilidad para colaborar en equipos, comunicando ideas y comprendiendo las necesidades del equipo de trabajo. Comprometido con la mejora y el aprendizaje continuo, buscando oportunidades para perfeccionar mis habilidades y contribuir al crecimiento del entorno.</h3>
        <Boton>Mi Email!</Boton>
    </div>
</section>


<style>
    
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
    *{
        font-family:'Raleway', sans-serif;
        font-weight: bold;
    }
    section{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div{
        background-color: rgba(255, 255, 255, 0.4);
		border-radius: 30px;
		padding: 3rem;
        width: 1030px;
        
    }
    .saludo{
        font-size: 40px;
        background: linear-gradient(to right,rgb(17 24 39), rgb(113, 124, 247));
		-webkit-background-clip: text;
		color: transparent; 
    }
    h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .perfil{
		height: 80px;
        border-radius: 50px;
	}
    #color-1{
        color: rgb(203, 201, 80);
    }
    #color-2{
        color: cornflowerblue;
    }
</style>